@import "./reset";
@import "./themes/dark";
@import "./themes/normal";
@import "./variables/global";
@import "./fonts";

body {
  color: var(--color-primary);
  font: var(--font-m);
}

.App {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.Content-page {
  display: flex;
}

.Page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
