.Button {
  cursor: pointer;
  display: flex;
  color: var(--inverted-color-primary);
}

.clear {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.outline {
  padding: 10px 20px;
  border: 1px solid var(--color-primary);
  background: none;
  color: var(--color-primary);
}
