.Sidebar {
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  position: relative;
  width: var(--sidebar-width);
  transition: width 0.3s ease-in-out;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lang {
  margin-left: 20px;
}

.collapsedBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  opacity: 1;
  width: 55px;
  transition: all 0.3s;
}

.icon {
  fill: var(--inverted-color-primary);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .lang {
    margin-left: 0;
  }

  .link {
    width: 0;
    opacity: 0;
  }
}
