.app_dark_theme {
  --bg-color: #06061b;
  --inverted-bg-color: #e8e8ea;
  --color-primary: #04ff04;
  --color-secondary: #0c910c;
  --inverted-color-primary: #041c65;
  --inverted-color-secondary: #0449e0;
}
